In [1]:
import pandas as pd

In [3]:
data={
    "Name": ["John", "Anna", "Peter", "Linda"],
    "Age": [28, None, 35, 32],
    "Salary": [50000, 60000, None, 80000]
    
    
}

df=pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
    Name   Age   Salary
0   John  28.0  50000.0
1   Anna   NaN  60000.0
2  Peter  35.0      NaN
3  Linda  32.0  80000.0

In [4]:
df.isnull().sum()

Name      0
Age       1
Salary    1
dtype: int64

In [6]:
df_dropped=df.dropna()
print(df_dropped)

    Name   Age   Salary
0   John  28.0  50000.0
3  Linda  32.0  80000.0

In [8]:
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Salary"].fillna(df["Salary"].mean(), inplace=True)

print(df)

    Name        Age        Salary
0   John  28.000000  50000.000000
1   Anna  31.666667  60000.000000
2  Peter  35.000000  63333.333333
3  Linda  32.000000  80000.000000

C:\Users\pranto\AppData\Local\Temp\ipykernel_17528\1051743666.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)
C:\Users\pranto\AppData\Local\Temp\ipykernel_17528\1051743666.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(), inplace=True)

In [9]:
print(df.isnull()*100)

   Name  Age  Salary
0     0    0       0
1     0    0       0
2     0    0       0
3     0    0       0

In [10]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df=pd.read_csv("people-100.csv")
df_label=df.copy()

le=LabelEncoder()
df_label["Sex_Encoded"]=le.fit_transform(df_label["Sex"])

print(df_label.head())

   Index          User Id First Name Last Name     Sex  \
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male
4      5  1bA7A3dc874da3c       Lori      Todd    Male

                        Email                   Phone Date of birth  \
0        elijah57@example.net  001-084-906-7849x73518    1945-10-26
1       bethany14@example.com       214.112.6044x4913    1910-03-24
2       bthompson@example.com            277.609.7938    1992-07-02
3   kaitlinkaiser@example.com            584.094.6111    2017-08-03
4  buchananmanuel@example.net       689-207-3558x7233    1938-12-01

            Job Title  Sex_Encoded
0     Games developer            1
1      Phytotherapist            0
2           Homeopath            1
3   Market researcher            1
4  Veterinary surgeon            1

In [ ]:
df=pd.read_csv("customers-100.csv")
df_hot=df.copy()

df_hot_encoded=pd.get_dummies(df_hot, columns=["City"],dtype=int)
print(df_hot_encoded.head())

   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company                     Country  \
0                  Rasmussen Group                       Chile
1                      Vega-Gentry                    Djibouti
2                    Murillo-Perry         Antigua and Barbuda
3  Dominguez, Mcmillan and Donovan          Dominican Republic
4         Martin, Lang and Andrade  Slovakia (Slovak Republic)

                  Phone 1                Phone 2                        Email  \
0            229.077.5154       397.884.0519x718     zunigavanessa@smith.info
1              5153435776       686-620-1820x944              vmata@colon.com
2         +1-539-402-0259    (496)978-3969x58947          beckycarr@hogan.com
3  001-808-617-6467x12895        +1-813-324-8756  stanleyblackwell@benson.org
4  001-234-203-0635x76146  001-199-446-3860x3486      colinalvarado@miles.net

  Subscription Date  ... City_Wallstown  City_West Adriennestad  \
0        2020-08-24  ...          False                   False
1        2021-04-23  ...          False                   False
2        2020-03-25  ...          False                   False
3        2020-06-02  ...          False                   False
4        2021-04-17  ...          False                   False

   City_West Darius  City_West John  City_West Kristine  \
0             False           False               False
1             False           False               False
2             False           False               False
3             False           False               False
4             False           False               False

   City_West Marthaburgh  City_West Priscilla  City_West Reginald  \
0                  False                False               False
1                  False                False               False
2                  False                False               False
3                  False                False               False
4                  False                 True               False

   City_West Samuel  City_Zimmermanland
0             False               False
1             False               False
2             False               False
3             False               False
4             False               False

[5 rows x 111 columns]